

<div class="ui fixed blue inverted secondary menu" style="margin-top: 40px">
  <div class="header fixed item">
    Kommentar eingeben zu Thema: {{chatSubject}}
  </div>
</div>

<form [formGroup]="_commentForm" style="margin-top: 100px">
  <div class="ui form segment">
      <div class="field">
        <label for="comment">Kommentar</label>
        <input formControlName="comment" id="comment" placeholder="Dein Kommentar" type="text">
      </div>
      <button class="ui blue button" (click)="addComment()">Submit</button>
  </div>
</form>

