

<div class="ui fixed blue inverted secondary menu" style="margin-top: 40px">
  <div class="header fixed item">
    Kommentar eingeben zu Thema: {{chatSubject}}
  </div>
</div>

<div class="ui content" style="padding-top: 100px">
<div class="ui centered card" >
  <div class="content" >
    <div class="header"><i class="comments outline middle aligned icon"></i>Kommentar eingeben</div>
    <div class="extra content">
      <div class="description">comment-form works!</div>
    </div>
  </div>

</div>
</div>
