
<div *ngFor="let chat of chats" class="ui centered card">
  <div class="content">
    <div class="header">Thema: {{chat.subject}}
    </div>
  </div>
  <div class="content">
    <div class="description">Letzter Kommentar: {{chat.lastCommentTime}}</div>
    <div class="description">Group: {{chat.groupRefId}}</div>
  </div>
  <div *ngIf="chat.proposedDates" class="content">
      <div class="description">Dates</div>
    <div *ngFor="let d of chat.proposedDates" class="description">{{d}}</div>
  </div>
</div>
