<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui image header">
      <div class="content">
        Log-in to your account
      </div>
    </h2>
    <form [formGroup]="_loginForm" action="" method="get" class="ui large form error">
      <div class="ui stacked secondary segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="mail icon"></i>
            <input formControlName="email" type="text" name="email" placeholder="E-Mail Adresse">
          </div>
          <wm-show-error text="E-Mail" path="email"></wm-show-error>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input formControlName="password" type="password" name="password" placeholder="Passwort">
          </div>
          <wm-show-error text="Passwort" path="password"></wm-show-error>
        </div>
        <button class="ui fluid large teal button" (click)="login()" [disabled]="!_loginForm.valid">Login</button>
      </div>


<div *ngIf="_errorMessage" class="ui error message">
  {{_errorMessage}}</div>




<!--div *ngIf="!_loginForm.email.valid && (_loginForm.email.dirty || _loginForm.email.touched)" class="alert alert-danger">
  <div *ngIf="_loginForm.email.errors.required">
    E-Mail is required.
  </div>
</div-->


</form>


    <div class="ui message">
      Neu bei uns?
      <div>
          <button class="ui blue button" (click)="gotoRegister()">Registrieren</button>
      </div>
    </div>
  </div>
</div>
