<div class="segment">

  <div id="mySidenav" class="ui vertical left inverted menu sidenav">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
      <a  class="header item" routerLink="/userhome" (click)="closeNav()">Aktuelles</a>
      <a  class="header item" routerLink="/members" (click)="closeNav()">Mitglieder</a>
      <a  class="header item" routerLink="/chats" (click)="closeNav()">Themen</a>
      <a  class="header item" routerLink="/userhome" (click)="closeNav()">Einstellungen</a>

  </div>

  <div>
    <div class="ui top fixed inverted menu">
      <a id="toggle" class="header item" (click)="openNav()" >
        <i class="sidebar icon "></i>
      </a>

      <a href="." class="header item">{{title}}</a>

      <div id="subtitle" class="header item floated left" ></div>

      <a class="header item icon floated right" routerLink="/userhome">
        <i class="user icon" style="padding-right: 10px"></i>
        <div *ngIf="!username">---</div>
        {{username}}
      </a>
    </div>

    <div style="margin-top: 60px">&nbsp;</div>

    <div class="ui scrollable container">
      <router-outlet></router-outlet>
    </div>

<!--
  <div style="position: fixed;bottom:50px; left: 50%;transform: translateX(-50%);">
      <router-outlet name="bottom"></router-outlet>
  </div>
-->

    <div class="ui bottom fixed inverted inverted menu">
      <div class="footer item floated right">
        {{now}}
      </div>
    </div>
  </div>
</div>
