<div class="ui fixed blue inverted secondary menu" style="margin-top: 40px">
  <div class="header fixed item">
    Thema: {{chatSubject}}
  </div>
</div>

<div class="ui comments" style="margin-top: 100px;  margin-bottom: 40px">
  <div *ngFor="let comment of comments" class="ui comment">
    <div class="avatar">
      <i class="big user outline  icon"></i>
    </div>
    <div class="content">
      <span class="author">{{comment.memberRefId}}</span>
      <div class="metadata">
        <div class="date">
          {{comment.getAt()}}
        </div>
      </div>
      <div class="text">
        {{comment.text}}
      </div>
    </div>
  </div>
  <button class="ui blue button" [routerLink]="['/addcomment', chatRefId ]">Kommentar</button>
</div>


<!--
     <span class="ui small red tag label">aktueller Termin</span>

    <div class="content">
    <span class="ui star rating" data-rating="3" data-max-rating="7"></span>
    <span class="right floated" data-tooltip="Teilnehmen" data-position="top left">
      <i class="heart outline like icon"></i>
      <i class="thumbs down icon"></i>
      <a><i class="green thumbs up icon"></i></a>
       <i class="green thumbs up icon"></i>
      <span data-content="Add users to your feed">
       <i class="green thumbs up icon"></i>
        </span>

      17 likes
    </span>
        <i class="comment icon"></i>
        5 comments
        <i class="small green checkmark icon"></i><i class="small green checkmark icon"></i><i class="small green checkmark icon"></i><i class="small green checkmark icon"></i>
    <i class="green check square outline icon"></i><i class="green check square outline icon"></i><i class="large green user circle outline icon"></i><i class="green check circle outline icon"></i><i class="grey question circle outline icon"></i>
        <div class="ui star rating" data-rating="3" data-max-rating="7"></div>
  </div>
-->
