<div class="ui fixed blue inverted secondary menu" style="margin-top: 40px">
  <div class="header fixed item">
    Thema: {{chatSubject}}
  </div>
</div>
<div class="ui" style="margin-top: 100px;  margin-bottom: 200px">
  <div *ngFor="let comment of comments" class="ui centered card">
    <div class="content">
        <div class="date right floated meta">
          {{comment.getAt()}}
        </div>

        <span class="author header">
          <i class="user outline  icon"></i>
          {{comment.memberRefId}}</span>
    </div>

    <div class="content text">
      {{comment.text}}
    </div>
  </div>
</div>



<div class="ui bottom fixed inverted blue menu" style="margin-bottom: 40px">
  <div class="content" style="margin: auto">
<div class="ui footer item" >
<!--button class="ui blue button" [routerLink]="['/addcomment', chatRefId ]">Kommentar</button-->
<form class="ui form" [formGroup]="_commentForm">
  <div class="field blue">
    <textarea rows="3" cols="50" formControlName="comment" id="comment" placeholder="Kommentar schreiben"
      type="text"></textarea>
  </div>
  <div class="ui green right labeled icon button" (click)="addComment()">
  <i class="arrow circle right icon"></i>
  Absenden
</div>
</form>
</div>
</div>
</div>




<!--
     <span class="ui small red tag label">aktueller Termin</span>

    <div class="content">
    <span class="ui star rating" data-rating="3" data-max-rating="7"></span>
    <span class="right floated" data-tooltip="Teilnehmen" data-position="top left">
      <i class="heart outline like icon"></i>
      <i class="thumbs down icon"></i>
      <a><i class="green thumbs up icon"></i></a>
       <i class="green thumbs up icon"></i>
      <span data-content="Add users to your feed">
       <i class="green thumbs up icon"></i>
        </span>

      17 likes
    </span>
        <i class="comment icon"></i>
        5 comments
        <i class="small green checkmark icon"></i><i class="small green checkmark icon"></i><i class="small green checkmark icon"></i><i class="small green checkmark icon"></i>
    <i class="green check square outline icon"></i><i class="green check square outline icon"></i><i class="large green user circle outline icon"></i><i class="green check circle outline icon"></i><i class="grey question circle outline icon"></i>
        <div class="ui star rating" data-rating="3" data-max-rating="7"></div>
  </div>
-->
