
<!--
<div class="ui fixed blue inverted secondary menu" style="margin-top: 40px">
  <div class="header fixed item">
    Thema: {{chatSubject}} ({{commentCount}})
  </div>
</div>

-->

  <div *ngFor="let comment of comments" class="ui centered card">
    <div class="content">
      <div class="date right floated meta">
        {{comment.getAt()}}
      </div>
  
      <span class="author header">
        <i class="user outline  icon"></i>
        {{comment.memberRefId}}</span>
    </div>
  
    <div class="content text">
      {{comment.text}}
    </div>
  </div>

<div style="position: fixed;bottom:50px; left: 50%;transform: translateX(-50%);">
  <wm-comment-form></wm-comment-form>
</div>
